version: "3"

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    restart: always
    ports:
      - 9870:9870
      - 9000:9000
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
      - ./data:/data          # <-- ADD THIS LINE
    environment:
      - CLUSTER_NAME=netmob_cluster
    env_file:
      - ./hadoop.env
    deploy:
      resources:
        limits:
          memory: 1G

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    restart: always
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    env_file:
      - ./hadoop.env
    deploy:
      resources:
        limits:
          memory: 2G

  spark-master:
    image: bde2020/spark-master:3.0.0-hadoop3.2
    container_name: spark-master
    restart: always
    depends_on:
      - namenode
      - datanode
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:                           # ADD THIS
      - ./app:/app                     # ADD THIS
    environment:
      - INIT_DAEMON_STEP=setup_spark
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    env_file:
      - ./hadoop.env
    deploy:
      resources:
        limits:
          memory: 1G


  spark-worker-1:
    image: bde2020/spark-worker:3.0.0-hadoop3.2
    container_name: spark-worker-1
    restart: always
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    volumes:                           # ADD THIS
      - ./app:/app                     # ADD THIS
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
      - SPARK_WORKER_MEMORY=3G
      - SPARK_WORKER_CORES=2
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    env_file:
      - ./hadoop.env
    deploy:
      resources:
        limits:
          memory: 3.5G


  spark-worker-2:
    image: bde2020/spark-worker:3.0.0-hadoop3.2
    container_name: spark-worker-2
    restart: always
    depends_on:
      - spark-master
    ports:
      - "8082:8081"
    volumes:                           # ADD THIS
      - ./app:/app                     # ADD THIS
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
      - SPARK_WORKER_MEMORY=3G
      - SPARK_WORKER_CORES=2
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    env_file:
      - ./hadoop.env
    deploy:
      resources:
        limits:
          memory: 3.5G


  streamlit-app:
    image: python:3.9-slim
    container_name: streamlit-app
    restart: always
    ports:
      - "8501:8501"
    volumes:
      - ./app:/app
      - ./data:/data
    working_dir: /app
    command: tail -f /dev/null
    deploy:
      resources:
        limits:
          memory: 1G

volumes:
  hadoop_namenode:
  hadoop_datanode:
